.divisor-wrap {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    gap            : 2em;
    margin         : 2em 0;
}

.divisor-left {
    height      : 128px;
    border-right: 3px solid #293140;
}

.divisor-right {
    height     : 128px;
    border-left: 3px solid #293140;
}